@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.square{ 
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    width: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0, 0, 0, 0.1) ;
}
img{
    float: right;
}

header{
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
   
}
h1{
    font-weight: 200;
    margin: 0;
    
}
h1.strong{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.square h3{
    color: hsl(234, 12%, 34%);
    margin: 0;
}
.square p{
    margin: 10px 0 30px;
}

.red{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.cyan{
    border-top: 4px solid hsl(180, 62%, 55%);
}
.orange{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.blue{
    border-top: 4px solid hsl(212, 86%, 64%);
}
.square-align{
    transform: translateY(50%);
}

@media screen and (max-width:1157px) {
    .square-align{
        transform: translateY(0%);
    }
    
}
